<div class="container">

    <header>
        <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ng-href="#/" class="navbar-brand">App App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        </div>
    </header>

    <main ng-view></main>

    <footer>
        Copyright &copy; 2016-5032
    </footer>

</div>